.card__container {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}

.image__container {
  width: 38%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color);
}

.product__image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__text {
  position: relative;
  width: 60%;
  margin: 5px 5px 5px 10px;
}

.card__text .name {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card__text .description {
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 15px;
}

.card__text .reviews {
  text-decoration: none;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 5px;
  border-radius: 0 5px;
  color: var(--secondary-color);
  background-color: rgb(241, 168, 160);
}

@media only screen and (min-width: 768px) {
  .card__container {
    width: 45%;
    height: 180px;
  }

  .image__container {
    width: 35%;
    height: 100%;
  }

  .card__text {
    width: 63%;
  }
}
