.header {
  position: fixed;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav__links {
  display: none;
}

.nav__links-mobile {
  display: flex;
  width: 50vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  /* border-left: 2px solid var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
    border-top-left-radius: 5px; */
}

.nav__link {
  margin-top: 50px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.nav__link:hover:not(:last-child) {
  transform: scale(1.3);
}

.menu__icon {
  cursor: pointer;
}

.login {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
}

.login:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.logo-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 900;
}

.toggleIcon {
  font-size: 1.5rem;
}

.open {
  color: var(--secondary-color);
}

.close {
  color: var(--primary-color);
}
