@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #112d4e;
  --hover-color: #13375f;
  --tertiary-color: #3f72af;
  --light-color: #dbe2ef;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  font-size: 16px;
}

.input__container input,
.input__container textarea,
.review__form textarea,
.search__input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 10px;
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.input__container input:focus,
.input__container textarea:focus,
.review__form textarea:focus,
.search__input:focus {
  border: 1px solid rgb(117, 116, 116);
}

.input__container input,
.search__input {
  height: 40px;
}

.input__container textarea,
.review__form textarea {
  height: 50px;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.container {
  width: 100%;
  margin-top: 60px;
  padding: 15px;
}

.product__container {
  width: 90%;
  margin: 60px auto 10px auto;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
  margin: 20px 0;
  border: none;
  margin: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-color);
  color: var(--light-color);
}

label {
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}

.error-div {
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto 30px auto;
  border: 1px solid red;
  background-color: rgb(221, 126, 126, 0.1);
  color: red;
}

.error-div p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.page-loader {
  width: 100px;
  height: 100px;
  margin: 150px auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 60px auto 20px auto;
  }

  .product__container {
    width: 40%;
    margin: 60px auto 20px auto;
    display: flex;
    flex-direction: column;
  }

  .error-div {
    width: 70%;
  }

  .page-loader {
    width: 100px;
    height: 100px;
    margin: 200px auto;
  }
}
