@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #112d4e;
  --tertiary-color: #3f72af;
  --light-color: #dbe2ef;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
}
