@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #112d4e;
  --tertiary-color: #3f72af;
  --light-color: #dbe2ef;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  width: 100%;
}

.product-name input,
.product-name textarea,
.review__form textarea,
.search__input {
  width: 100%;
  border: none;
  outline: none;

  border-radius: 5px;
  padding: 5px;
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-name input,
.search__input {
  height: 30px;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.container {
  width: 95%;
  margin: 60px auto 0 auto;
}
